<head>
    <link href="../css/style.css" rel="stylesheet" />
</head>

<body>

    <div class="sidebar">
      <div class="logo">
        <a href="#">
          <img src="https://storage.googleapis.com/pr-newsroom-wp/1/2018/11/Spotify_Logo_CMYK_Green.png" alt="Logo" />
        </a>
      </div>

      <div class="navigation">
        <ul>
          <li>
            <a href="/">
              <span class="fa fa-home"></span>
              <span>Home</span>
            </a>
          </li>

          

          <li>
            <a href="/addsongs">
              <span class="fa fas fa-book"></span>
              <span>Your Library</span>
            </a>
          </li>
        </ul>
      </div>

      <div class="navigation">
        <ul>
          <li>
            <a href="/playlistmusic">
              <span class="fa fas fa-plus-square"></span>
              <span>Playlist</span>
            </a>
          </li>

          
        </ul>
      </div>

      
    </div>

    <div class="main-container">
      

    </div>
</body>